{% extends "profile_templates/base.html" %}



  {% block styles %}
  {% load static %}

  <style>
* {
box-sizing: border-box;
}

input[type=text],input[type=Number],input[type=Password]{
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;
}

label {
padding: 12px 12px 12px 0;
display: inline-block;
}

input[type=submit] {
background-color: #4CAF50;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
float: right;
margin-top: 20px;
}

input[type=submit]:hover {
background-color: #45a049;
}

.container {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
}

.col-25 {
float: left;
width: 25%;
margin-top: 6px;
}

.col-75 {
float: left;
width: 75%;
margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
}
}

@media screen and (max-width: 600px) {
input[type=submit] {
  width: 100%;
  margin-top: 30px;
}
}

#filterform input[type=text] {
  width: 60%;
  height: 40px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-left:50px;
}
#filterform input[type=submit] {
  width: 20px;
  height: 30px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top:5px;

}
#input-group-append{
  margin-left: 50px;
}
</style>

      <link rel="stylesheet" type="text/css" href="{% static 'profile_static/css/fund.css' %}">


  {% endblock styles %}


   {% block content %}
   <center><h2 class="admin-heading" style='background-color:#5D6D7E;color:white;border-radius:20px;margin-top:10px;'>All Members:</h2><br></center>

   <form  method="get" id="filterform">
     {{myfilter.form.username}}
     <button type="submit" class="btn btn-primary">Search</button>
   </form>


      <div id="content" class="p-4 p-md-5 pt-5" style="overflow-x:auto;">
         <table id="customers">
            <tr>
               <th>Sr No.</th>
               <th>Username</th>
							 <th>Member Name</th>
							 <th>Email</th>
							 <th>Mobile</th>
							 <th>Sponser</th>
							 <th>Password</th>
							 <th>Txn Pwd</th>


               <th>Registration date</th>
							 <th>Status</th>
               <th>Topup Amount</th>
               <th>Topup Date</th>
               <th>Acc Name</th>
               <th>Acc No</th>
               <th>IFSC</th>
               <th>Bank</th>
               <th>Branch</th>
               <th>Pan no</th>
               <th>Adhar no</th>
               <th>Edit</th>
               <th>Isactive</th>





            {% for userr in objs %}


            <tr>
               <td>{{forloop.counter}}</td>
               <td><a href="#">{{userr.username}}</a></td>
               <td>{{userr.first_name}} {{userr.last_name}}</td>
               <td>{{userr.email}}</td>
							 <td>{{userr.phon_no}}</td>
							 <td>{{userr.sponser}}</td>
							 <td>{{userr.rem_paas}}</td>
							 <td>{{userr.txn_password}}</td>
							 <td>{{userr.date_joined}}</td>

							 {% if userr.is_active1 == True %}
							 	<td class="field-is_active1"><img src="/static/admin/img/icon-yes.svg" alt="True"></td>
								<td> $10</td>
								<td>{{userr.date_active}}</td>
							{% else %}
								<td class="field-is_active1"><img src="/static/admin/img/icon-no.svg" alt="False"></td>
								<td>-</td>
								<td>-</td>
							{% endif %}

                            {% for bank in banks %}
                                {% if bank.user == userr %}
    							<td>{{bank.account_holder_name}}</td>
    							<td>{{bank.account_number}}</td>
    							<td>{{bank.ifsc_code}}</td>
    							<td>{{bank.bank_name}}</td>
    							<td>{{bank.branch_name}}</td>
    							<td>{{bank.pan_number}}</td>
    							<td>{{bank.aadhar_number}}</td>
    							{% endif %}
							{% endfor %}
							<td><a href="{% url 'edit' userr.id %}" target="_blank"><i class="fa fa-edit"></i>Edit</a></td>

							{% if userr.is_active == True %}
								<td><a href="{% url 'block' userr.id %}"><i class="fa fa-check"></i>Block</a></td>

						 {% else %}
							<td>	<a href="{% url 'unblock' userr.id %}"><i class="fa fa-times"></i>Unblock</a></td>
						 {% endif %}


						</tr>



            {% endfor %}
         </table>
      </div>

      </div>




   {% endblock content %}
